@charset "UTF-8";


html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

a:active {
}

.button {
    width: 15rem;
    background-color: #333333;
    border-radius: 2rem;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0.525rem 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    margin-block: unset;
    margin-inline: unset;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

ul, li {
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-block: unset;
    padding-inline: unset;
}

body {
    background-color: #fafafa;
    border: 0.0625rem solid #10151a;
    color: #454545;
    font-size: 1rem;
    font-weight: 300;
    margin: 0 10%;
}

section {
    min-height: 20rem;
}

._container {
    padding: 0 3rem;
    position: relative;
}

#headerContainer {
    top: 0;
    background-color: #333333;
    min-width: 80%;
    padding: 1.5rem 3rem;
    position: sticky;
    z-index: 1;
}

#headerContainer > .header {
    /*align-items: center;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
}

#headerContainer > .header > .menu {
    text-align: center;
    /*align-items: center;*/
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
    color: #eaecee;
    justify-content: center;
}

#headerContainer > .header > .menu > .item {
    font-size: 1.5rem;
    padding: 0.5rem;
}

#headerContainer > .header > .menu > .item:hover {
    background-color: #eeeeee;
    border-radius: 0.35rem;
    color: #212121;
}

#headerContainer > .header > .menu > .item + .item {
    margin-left: 5rem;
}

#headerContainer > .header > .menu > .item > .text {
    color: #f6f1eb;
    font-size: 1.5rem;
}

#wrapper > #one {
    box-sizing: border-box;
    color: #10151a;
    width: 100%;
    height: 90%;
    overflow: hidden;
    padding: 5rem 5rem 0 5rem;
}

#wrapper > #one > * {
    position: relative;
}

#wrapper > #one > .one-title {
    padding-bottom: 1.5rem;
}

#wrapper > #one > .intro-container {
    border-bottom: 0.05rem solid #10151a;
    padding-bottom: 1.5rem;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#wrapper > #one > .intro-container > .image-container > .image {
    width: 15rem;
    height: 15rem;
}

#wrapper > #one > .intro-container > .mention-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrapper > #one > .intro-container > .mention-container > .text {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

#wrapper > #one > .profile-container {
    padding: 2rem 2rem 0 2rem;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#wrapper > #one > .profile-container > .con-one > .text {
    font-size: 1.8rem;
    font-weight: 500;
}

#wrapper > #one > .profile-container > .con-two {
    padding-left: 2rem;
}

#wrapper > #one > .profile-container > .con-two > .profile {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

#wrapper > #one > .profile-container > .con-two > .profile > .item > .image {
    padding-right: 1rem;
}

#wrapper > #one > .profile-container > .con-two > .profile > .item {
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
}

#wrapper > #two {
    background-color: #e0e0e0;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    padding: 6rem 3rem 3rem 4rem;
}

#wrapper > #two > * {
    position: relative;
}


#wrapper > #two > .language {
    padding-bottom: 2rem;
}

#wrapper > #two > .skill-container {
    display: grid;
    gap: 1.3rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
}

#wrapper > #two > .skill-container > .skill > .explain {
    font-size: 1.1rem;
    padding-top: 0.55rem;
    padding-left: 2rem;
}

#wrapper > #two > .tools {
    padding-bottom: 0.5rem;
}

#wrapper > #two > .tool-container {
    display: grid;
    gap: 1.3rem;
    grid-template-columns: repeat(2, 1fr);
}

#wrapper > #two > .tool-container > .tool {
    padding-top: 2rem;
}

#wrapper > #two > .tool-container > .tool > .tool-button {
    margin: unset;
}

#wrapper > #three {
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    padding: 4rem 3rem 3rem 4rem;
}

#wrapper > #three > * {
    position: relative;
}

#wrapper > #three > .project-container {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1.5rem;
}


#wrapper > #four {
    background-color: #e0e0e0;
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    padding: 4rem 3rem 0 4rem;
}

#wrapper > #four > .info-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

#wrapper > #four > .info-container > .info {
    padding: 0.75rem 0;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#wrapper > #four > .info-container > .info > .image {
    padding-right: 0.5rem;
}

#wrapper > #four > .info-container > .info > .info-name {
    font-size: 1.5rem;
    font-weight: 350;
}

#wrapper > #four > .info-container > .info > .info-body {
    /*background-color: #333333;*/
    /*color: #eeeeee;*/
    font-size: 1.2rem;
    font-weight: 200;
    margin-left: 0.5rem;
}

@media screen and (max-width: 55rem) {
    #wrapper > #one > .intro-container > .mention-container {
        display: none;
    }

    #wrapper > #two > .skill-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #wrapper > #two > .tool-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #wrapper > #three > .project-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #wrapper > #four > .info-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 85rem) {
    h2 {
        font-size: 2rem;
    }

    #wrapper > #two > .skill-container > .skill > .explain {
        font-size: 0.9rem;
        font-weight: 200;
    }

    #wrapper > #one > .intro-container > .mention-container > .text {
        font-size: 1rem;
        font-weight: 200;
    }

    #wrapper > #four > .info-container > .info > .info-name {
        font-size: 1.05rem;
    }

    #wrapper > #four > .info-container > .info > .info-body {
        font-size: 0.9rem;
    }
}