<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MultipleForm 업로드</title>
    <script th:if="${result != null && result == true}">
        alert('파일을 업로드하였습니다.');
        location.href += '';
    </script>
    <script th:if="${result != null && result == false}">
        alert('파일을 업로드하지 못하였습니다.');
        location.href += '';
    </script>
</head>
<body th:if="${result == null}">
<h1>Form 업로드 예제</h1>
<form enctype="multipart/form-data" method="post">
    <input multiple name="file" type="file">
    <input type="submit" value="업로드">
</form>
</body>
</html>