<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form 업로드 예제</title>
</head>
<body>
<h1>Form 업로드 예제</h1>
<form enctype="multipart/form-data" method="post">
<!--    파일 업로드 할때 enctype="multipart/form-data" 사용(파일을 여러부분으로 나누어 업로드?)-->
    <input name="file" type="file">
    <input type="submit" value="업로드">
</form>
</body>
</html>