@charset "UTF-8";

#addressLayer {
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 1rem 0.0625rem #00000060;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transform: scale(90%) translate(-50%, -50%);
    transition-duration: 250ms;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    z-index: 9;
}

#addressLayer.visible {
    opacity: 1;
    pointer-events: all;
    transform: scale(100%) translate(-50%, -50%);
}

#registerForm {
    width: 100%;
    max-width: 40rem;
    box-sizing: border-box;
    padding: 2.5rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#registerForm > .header {
    margin-bottom: 2rem;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#registerForm > .header > .text-container {
    flex: 1;
    margin-right: 2rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#registerForm > .header > .text-container > .title {
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 0.125rem;
}

#registerForm > .header > .text-container > .subtitle {
    color: #808b96;
    display: none;
}
#registerForm.step-1 > .header > .text-container > .subtitle.step-1 {
    display: block;
}
#registerForm.step-2 > .header > .text-container > .subtitle.step-2 {
    display: block;
}
#registerForm.step-3 > .header > .text-container > .subtitle.step-3 {
    display: block;
}
#registerForm > .header > .step-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#registerForm > .header > .step-container > .number {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    color: #abb2b9;
    font-size: 1.125rem;
    font-weight: 400;
    user-select: none;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#registerForm.step-1 > .header > .step-container > .number.step-1,
#registerForm.step-2 > .header > .step-container > .number.step-2,
#registerForm.step-3 > .header > .step-container > .number.step-3 {
    color: #3498db;
    font-weight: 600;
}

#registerForm > .header > .step-container > .line {
    width: 0.5rem;
    height: 0.25rem;
    background-color: #ffffff;
}

#registerForm > .main {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;

    align-items: stretch;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}
#registerForm.step-1 > .main.step-1 {
    display: flex;
}
#registerForm.step-2 > .main.step-2 {
    display: flex;
}
#registerForm.step-3 > .main.step-3 {
    display: flex;
}
#registerForm > .main.step-1 > .label {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

#registerForm > .main.step-1 > .label + .label {
    margin-top: 2rem;
}

#registerForm > .main.step-1 > .label > .title {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

#registerForm > .main.step-1 > .label > .title::before {
    top: -0.0625rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #abb2b9;
    border-radius: 50%;
    content: '';
    display: inline-block;
    margin-right: 0.5rem;
    position: relative;
    vertical-align: middle;
}

#registerForm > .main.step-1 > .label > .content {
    height: 10rem;
    resize: none;
}

#registerForm > .main.step-2 {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#registerForm > .main.step-2 > .section {
    position: relative;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#registerForm > .main.step-2 > .section + .section {
    padding-top: 1.25rem;
}

#registerForm > .main.step-2 > .section > .label {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#registerForm > .main.step-2 > .section > .label + .label {
    margin-top: 0.5rem;
}

#registerForm > .main.step-2 > .section > .label > * {
    flex: 1;
}

#registerForm > .main.step-2 > .section > .label > * + * {
    margin-left: 0.5rem;
}

#registerForm > .main.step-2 > .section > .label > .minor {
    flex: 0;
}

#registerForm >.button-container {
    margin-top: 2rem;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#registerForm > .button-container > *+* {
    margin-left: 0.5rem;
}
#registerForm > .button-container > .button {
    padding: 0.75rem 1.5rem;
}
#registerForm.step-3 > .button-container > .button.cancel {
    display: none;
}
#registerForm > .button-container > .button.finish {
    display: none;
}
#registerForm.step-3 > .button-container > .button.next {
    display: none;
}

#registerForm.step-3 > .button-container > .button.finish {
    display: inline-block;
}

@media screen and (max-width: 40rem) {
    #registerForm {
        top: 0;
        left: 0;
        width: 100%;
        max-width: unset;
        min-height: 100vh;
        padding: 0;
    }

    #registerForm > .header {
        padding: 2rem 2rem 0 2rem;
    }

    #registerForm > .main {
        border-radius: 0;
    }
}












