<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>개발자 이재준입니다.</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/portfolio.css}">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"/>
    <script defer th:src="@{/resources/scripts/portfolio.js}"></script>
</head>
<body>
<div class="_container" id="headerContainer">
    <header class="_content header">
        <ul class="menu">
            <li class="item">
                <a href="#one" class="link">Introduction</a>
            </li>
            <li class="item">
                <a href="#two" class="link">Skills</a>
            </li>
            <li class="item">
                <a href="#three" class="link">Projects</a>
            </li>
            <li class="item">
                <a href="#four" class="link">Information</a>
            </li>
        </ul>
    </header>
</div>
<div id="wrapper">
    <section id="one">
        <h2 class="one-title">Introduction</h2>
        <div class="intro-container">
            <div class="_container image-container">
                <img th:src="@{/resources/images/watch.jpg}" class="image">
            </div>
            <div class=" mention-container">
                <span class="text">안녕하세요! 저는 신입 벡엔드 개발자로 구직중인 <b>이재준</b>입니다.</span>
                <span class="text">현재 JAVA 언어를 기반으로 웹 애플리케이션의 구현 및 개발을 진행하고 있으며,</span>
                <span class="text">꾸준히 배우며 지속적으로 발전가능한 개발자가 되는 것이 목표입니다.</span>
                <span class="text">팀단위 프로젝트와 커뮤니케이션 능력에 강점이 있습니다.</span>
            </div>
        </div>
        <div class="profile-container">
            <div class="con-one">
                <span class="text">Profile</span>
            </div>
            <div class="con-two">
                <ul class="profile">
                    <li class="item">
                        <img th:src="@{/resources/images/profile.png}" alt="" class="image">
                        <span>Lee Jae Jun</span>
                    </li>
                    <li class="item">
                        <img th:src="@{/resources/images/birth.png}" alt="" class="image">
                        <span>1997.08.22</span>
                    </li>
                    <li class="item">
                        <img th:src="@{/resources/images/university.png}" alt="" class="image">
                        <span>영남대학교 무역학부 졸업</span>
                    </li>
                    <li class="item">
                        <img th:src="@{/resources/images/study.png}" alt="" class="image">
                        <span>임베디드 융합 풀스택 개발자 국비과정 수료</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="two">
        <h2 class="two-title">My Skills</h2>
        <h3 class="language">기술 및 언어</h3>
        <ul class="_container skill-container">
            <li class="skill">
                <input type="button" class="skill-button button" value="HTML/CSS/JS">
                <div class="explain">
                    HTML을 활용하여 웹 페이지를 생성할 수 있습니다.
                </div>
                <div class="explain">
                    CSS를 활용하여 웹 페이지를 디자인할 수 있습니다.
                </div>
                <div class="explain">
                    JavaScript를 활용하여 웹 페이지에 이벤트에 따른 기능을 추가할 수 있습니다.
                </div>
            </li>
            <li class="skill">
                <input type="button" class="skill-button button" value="JAVA">
                <div class="explain">
                    클래스와 객체의 개념을 잘 이해하고 있으며,
                </div>
                <div class="explain">
                    자바를 활용하여 웹 페이지의 기능에 대한 알고리즘을 작성하고 실행할 수 있습니다.
                </div>
                <div class="explain">
                    또한, JDBC를 활용하여 데이터베이스와 연동하여 데이터를 사용할 수 있습니다.
                </div>
            </li>
            <li class="skill">
                <input type="button" class="skill-button button" value="Spring Boot">
                <div class="explain">
                    MVC 패턴을 파악하고 있으며 이에 맞추어 구현 및 개발할 수 있습니다.
                </div>
                <div class="explain">
                    Spring Boot에서 활용할 수 있는 어노테이션들의 기능을 이해하고 있습니다.
                </div>
            </li>
            <li class="skill">
                <input type="button" class="skill-button button" value="DBMS">
                <div class="explain">
                    SQL문법을 활용하여 데이터를 삽입, 조회, 수정 삭제할 수 있으며
                </div>
                <div class="explain">
                    제약 조건과 JOIN을 활용하여 필요한 데이터를 조회할 수 있습니다.
                </div>
            </li>
        </ul>
        <h3 class="tools">개발 도구</h3>
        <ul class="_container tool-container">
            <li class="tool">
                <input type="button" class="tool-button button" value="Intellij IDEA Ultimate">
            </li>
            <li class="tool">
                <input type="button" class="tool-button button" value="MariaDB">
            </li>
            <li class="tool">
                <input type="button" class="tool-button button" value="Eclipse">
            </li>
            <li class="tool">
                <input type="button" class="tool-button button" value="Github">
            </li>
        </ul>
    </section>
    <section id="three">
        <h2 class="three-title">Projects</h2>
        <ul class="_container project-container">
            <li class="project">
                <a href="#" class="pro">
                    <img th:src="@{/resources/images/shortcut_icon.png}" alt="" class="image">
                    <span>맛집(MatZip)</span>
                </a>
                <div class="content">
                    <img th:src="@{/resources/images/matzip.png}" alt="" class="image">
                    <span>카카오 지도 api를 활용하여 로그인 및 회원가입,
                        <br>아이디 찾기와 비밀번호 재설정 등의 기능을 구현해놓은
                        <br>맛집 검색 홈페이지 입니다.</span>
                </div>
            </li>
            <li class="project">
                <a href="#" class="pro">프로젝트2</a>
                <div class="content">
                    <img src="" alt="" class="image">
                    <span>프로젝트 어쩌구 저쩌구</span>
                </div>
            </li>
            <li class="project">
                <a href="#" class="pro">프로젝트3</a>
                <div class="content">
                    <img src="" alt="" class="image">
                    <span>프로젝트 어쩌구 저쩌구</span>
                </div>
            </li>
            <li class="project">
                <a href="#" class="pro">프로젝트4</a>
                <div class="content">
                    <img src="" alt="" class="image">
                    <span>프로젝트 어쩌구 저쩌구</span>
                </div>
            </li>
        </ul>
    </section>
    <section id="four">
        <h2 class="four-title">Information</h2>
        <ul class="_container info-container">
            <li class="info">
                <img th:src="@{/resources/images/contact.png}" alt="" class="image">
                <span class="info-name">Contact : </span>
                <span class="info-body">010-6667-1996</span>
            </li>
            <li class="info">
                <img th:src="@{/resources/images/Email.png}" alt="" class="image">
                <span class="info-name">Email : </span>
                <span class="info-body">2dlwowns@gmail.com</span>
            </li>
            <li class="info">
                <img th:src="@{/resources/images/address.png}" alt="" class="image">
                <span class="info-name">Address : </span>
                <span class="info-body">대구광역시 수성구 동원로 110</span>
            </li>
            <li class="info">
                <img th:src="@{/resources/images/github.png}" alt="" class="image">
                <span class="info-name">Github : </span>
                <span class="info-body">https://github.com/jj203034</span>
            </li>
        </ul>
    </section>
</div>
</body>
</html>