<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjlee.studywebbbs.mappers.ArticleMapper">
    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.jjlee.studywebbbs.entities.ArticleEntity">
        INSERT INTO `study_bbs`.`articles`(`title`, `content`, `view`, `created_at`, `deleted_flag`, `client_ip`, `client_ua`)
        VALUES (#{title},
                #{content},
                #{view},
                IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                #{isDeleted},
                #{clientIp},
                #{clientUa})
    </insert>

    <insert id="insertAttachment"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.jjlee.studywebbbs.entities.AttachmentEntity">
        INSERT INTO `study_bbs`.`attachments`(`article_index`, `file_name`, `file_size`, `file_content_type`,
                                              `file_data`)
        VALUES (#{articleIndex},
                #{fileName},
                #{fileSize},
                #{fileContentType},
                #{fileData})
    </insert>

    <insert id="insertImage"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.jjlee.studywebbbs.entities.ImageEntity">
        INSERT INTO `study_bbs`.`images` (`name`, `size`, `content_type`, `data`, `created_at`, `client_ip`, `client_ua`)
        VALUES (#{name},
                #{size},
                #{contentType},
                #{data},
                IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                #{clientIp},
                #{clientUa})
    </insert>

    <insert id="insertComment"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.jjlee.studywebbbs.entities.CommentEntity">
        INSERT INTO `study_bbs`.`comments` (`article_index`, `comment_index`, `content`, `deleted_flag`, `created_at`, `client_ip`, `client_ua`)
        VALUES (#{articleIndex},
                #{commentIndex},
                #{content},
                #{isDeleted},
                IFNULL(#{createdAt}, DEFAULT(`created_at`)),
                #{clientIp},
                #{clientUa})
    </insert>

    <select id="selectArticleByIndex"
            resultType="com.jjlee.studywebbbs.entities.ArticleEntity">
        SELECT `index`        AS `index`,
               `title`        AS `title`,
               `content`      AS `content`,
               `view`         AS `view`,
               `created_at`   AS `createdAt`,
               `deleted_flag` AS `isDeleted`,
               `client_ip`    AS `clientIp`,
               `client_ua`    AS `clientUa`
        FROM `study_bbs`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectAttachmentsByArticleIndexNoData"
            resultType="com.jjlee.studywebbbs.entities.AttachmentEntity">
        SELECT `index`             AS `index`,
               `article_index`     AS `articleIndex`,
               `file_name`         AS `fileName`,
               `file_size`         AS `fileSize`,
               `file_content_type` AS `fileContentType`
        FROM `study_bbs`.`attachments`
        WHERE `article_index` = #{articleIndex}
        ORDER BY `index`
    </select>

    <select id="selectAttachment"
            resultType="com.jjlee.studywebbbs.entities.AttachmentEntity">
        SELECT `index`             AS `index`,
               `article_index`     AS `articleIndex`,
               `file_name`         AS `fileName`,
               `file_size`         AS `fileSize`,
               `file_content_type` AS `fileContentType`,
               `file_data`         AS `fileData`
        FROM `study_bbs`.`attachments`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectCommentsByArticleIndex"
            resultType="com.jjlee.studywebbbs.entities.CommentEntity">
        SELECT `index`         AS `index`,
               `article_index` AS `articleIndex`,
               `comment_index` AS `commentIndex`,
               `content`       AS `content`,
               `deleted_flag`  AS `isDeleted`,
               `created_at`    AS `createdAt`,
               `client_ip`     AS `clientIp`,
               `client_ua`     AS `clientUa`
        FROM `study_bbs`.`comments`
        WHERE `article_index` = #{articleIndex}
        ORDER BY `index`
    </select>

    <select id="selectImage"
            resultType="com.jjlee.studywebbbs.entities.ImageEntity">
        SELECT `index`        AS `index`,
               `name`         AS `name`,
               `size`         AS `size`,
               `content_type` AS `contentType`,
               `data`         AS `data`,
               `created_at`   AS `createdAt`,
               `client_ip`    AS `clientIp`,
               `client_ua`    AS `clientUa`
        FROM `study_bbs`.`images`
        WHERE `index` = #{index}
    </select>

    <update id="updateArticle"
            parameterType="com.jjlee.studywebbbs.entities.ArticleEntity">
        UPDATE `study_bbs`.`articles`
        SET `title` = #{title},
            `content` = #{content},
            `view` = #{view},
            `created_at` = #{createdAt},
            `deleted_flag` = #{isDeleted},
            `client_ip` = #{clientIp},
            `client_ua` = #{clientUa}
        WHERE `index` = #{index}
        LIMIT 1
    </update>
</mapper>