<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>맛집</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/index.css}">
    <link rel="shortcut icon" th:href="@{/resources/images/shortcut_icon.png}">
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=78f53a09ea9f9a2115d811c883d4e33d&libraries=services,clusterer,drawing"></script>
    <script defer th:src="@{/resources/scripts/index.js}"></script>
</head>
<body>
<div id="loading" class="visible">
    <img th:src="@{/resources/images/shortcut_icon.png}" alt="" class="logo">
</div>
<div id="cover"></div>
<form id="loginForm">
    <h2 class="title">로그인</h2>
    <label class="label">
        <input type="email" class="_object-input input" maxlength="50" name="email" placeholder="이메일 주소">
    </label>
    <span class="warning email" rel="emailWarning">올바른 이메일을 입력해 주세요.</span>
    <label class="label">
        <input type="password" name="password" class="_object-input input" maxlength="50" placeholder="비밀번호">
    </label>
    <span class="warning password" rel="passwordWarning">올바른 비밀번호를 입력해 주세요.</span>
    <span class="warning login" rel="loginWarning">이메일 혹은 비밀번호가 올바르지 않습니다.</span>
    <label class="_object-check-wrapper">
        <input type="checkbox" class="_check-input" name="rememberEmail">
        <span class="_check-toggle"></span>
        <span class="_check-text">이메일을 기억합니다.</span>
    </label>
    <div class="button-container">
        <input type="button" class="_object-button" name="cancelButton" value="취소" data-method="hideLogin">
        <input type="submit" class="_object-button _color-concept" value="로그인">
    </div>
    <ul class="menu">
        <li class="item">
            <span class="text">아직 계정이 없으신가요?</span>
            <a class="link" href="#" data-method="showRegister">회원가입</a>
        </li>
        <li class="item">
            <span class="text">이메일 혹은 비밀번호를 분실하셨나요?</span>
            <a class="link" href="#">계정 복구</a>
        </li>
    </ul>
</form>
<form id="registerForm" class="visible step-2">
    <section class="section step-1">
        <div class="title-container">
            <h2 class="title">회원가입</h2>
            <h3 class="subtitle">서비스 이용약관 및 개인정보 처리방침</h3>
        </div>
        <div class="content-container">
            <label class="label term-container">
                <textarea readonly class="_object-input term">서비스 이용약관</textarea>
            </label>
            <label class="_object-check-wrapper">
                <input type="checkbox" class="_check-input" name="agreeServiceTerm">
                <span class="_check-toggle"></span>
                <span class="text">위 서비스 이용약관을 읽어보았고 이해하였으며 동의합니다.</span>
            </label>
            <label class="label term-container">
                <textarea readonly class="_object-input term">개인정보 처리방침</textarea>
            </label>
            <label class="_object-check-wrapper">
                <input type="checkbox" class="_check-input" name="agreePrivacyTerm">
                <span class="_check-toggle"></span>
                <span class="text">위 개인정보 처리방침을 읽어보았고 이해하였으며 동의합니다.</span>
            </label>
            <span class="warning term" rel="termWarning"></span>
        </div>
        <div class="button-container">
            <input class="_object-button" name="cancel" type="button" value="취소" data-method="hideRegister">
            <input class="_object-button _color-concept" type="submit" value="다음">
        </div>
    </section>
    <section class="section step-2">
        <div class="title-container">
            <h2 class="title">회원가입</h2>
            <h3 class="subtitle">개인정보 입력</h3>
        </div>
        <div class="content-container">
            <label class="label">
                <input type="email" class="_object-input" maxlength="50" name="email" placeholder="이메일">
            </label>
            <span class="warning email" rel="emailWarning"></span>
            <label class="label">
                <input type="password" class="_object-input" maxlength="50" name="password" placeholder="비밀번호 (8자 이상 50자 이하)">
            </label>
            <label class="label">
                <input type="password" class="_object-input" maxlength="50" name="passwordCheck" placeholder="비밀번호 확인">
            </label>
            <span class="warning password" rel="passwordWarning"></span>
            <label class="label">
                <input type="text" class="_object-input" maxlength="10" name="nickname" placeholder="별명 (2자 이상 10자 이하 한글)">
            </label>
            <span class="warning nickname" rel="nicknameWarning"></span>
            <label class="label">
                <input type="text" class="_object-input" maxlength="12" name="contact" placeholder="연락처('-' 없이 입력)">
                <input type="button" class="_object-button" name="contactSend" value="인증번호 전송">
            </label>
            <label class="label">
                <input disabled type="text" class="_object-input" maxlength="6" name="contactCode" placeholder="인증번호 입력">
                <input disabled type="button" class="_object-button" name="contactVerify" value="인증번호 확인">
            </label>
            <input hidden name="contactSalt" type="hidden">
            <span class="warning contact" rel="contactWarning"></span>

        </div>
        <div class="button-container">
            <input class="_object-button" name="cancel" type="button" value="취소" data-method="hideRegister">
            <input class="_object-button _color-concept" type="submit" value="다음">
        </div>
    </section>
    <section class="section step-3">
        <div class="title-container">
            <h2 class="title">회원가입</h2>
            <h3 class="subtitle">회원가입 완료</h3>
        </div>
        <div class="button-container">
            <input type="submit" class="_object-button _color-concept" value="완료">
        </div>
    </section>
</form>
<ul id="menu">
    <li class="item logo-container">
        <img th:src="@{/resources/images/shortcut_icon.png}" alt="" class="logo">
    </li>
    <li class="item link selected">
        <img th:src="@{/resources/images/menu-main.png}" alt="" class="icon">
        <span class="text">맛집</span>
    </li>
    <li class="item link">
        <img th:src="@{/resources/images/menu-favorite.png}" alt="" class="icon">
        <span class="text">즐겨찾기</span>
    </li>
    <li class="stretch"></li>
    <li class="item link" data-method="showLogin">
        <img th:src="@{/resources/images/menu-login.png}" alt="" class="icon">
        <span class="text">로그인</span>
    </li>
    <li class="item link" data-method="showLogout">
        <img th:src="@{/resources/images/menu-logout.png}" alt="" class="icon">
        <span class="text">로그아웃</span>
    </li>
    <li class="item link">
        <img th:src="@{/resources/images/menu-my.png}" alt="" class="icon">
        <span class="text">마이페이지</span>
    </li>
</ul>
<section id="list">
    <form class="search-form">
        <label class="label">
            <img th:src="@{/resources/images/list.search-form.icon.png}" alt="" class="icon">
            <input type="text" maxlength="50" placeholder="식당 검색" class="input">
        </label>
    </form>
    <div class="address-container">
        <span class="text gu" rel="addressGu">중구</span>
        <span class="text dong" rel="addressDong">성내1동</span>
    </div>
    <ul class="list">
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업중</span>
                    <span class="op-time">20:00에 영업종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>

                </div>
            </div>
            <div class="image-container">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800" class="image" alt="">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업중</span>
                    <span class="op-time">20:00에 영업종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>

                </div>
            </div>
            <div class="image-container">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800" class="image" alt="">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업중</span>
                    <span class="op-time">20:00에 영업종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>

                </div>
            </div>
            <div class="image-container">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800" class="image" alt="">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업중</span>
                    <span class="op-time">20:00에 영업종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>

                </div>
            </div>
            <div class="image-container">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800" class="image" alt="">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업중</span>
                    <span class="op-time">20:00에 영업종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>

                </div>
            </div>
            <div class="image-container">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800" class="image" alt="">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업중</span>
                    <span class="op-time">20:00에 영업종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>

                </div>
            </div>
            <div class="image-container">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800" class="image" alt="">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업중</span>
                    <span class="op-time">20:00에 영업종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>

                </div>
            </div>
            <div class="image-container">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800" class="image" alt="">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업중</span>
                    <span class="op-time">20:00에 영업종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>

                </div>
            </div>
            <div class="image-container">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800" class="image" alt="">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업중</span>
                    <span class="op-time">20:00에 영업종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>

                </div>
            </div>
            <div class="image-container">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800" class="image" alt="">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업중</span>
                    <span class="op-time">20:00에 영업종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>

                </div>
            </div>
            <div class="image-container">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800" class="image" alt="">
                <span class="count">4</span>
            </div>
        </li>
    </ul>
</section>
<section id="detail">디테일</section>
<section id="map">지도</section>
</body>
</html>